@font-face {
    font-family: 'IRANSansWeb';

    src: url('../fonts/IRANSansWeb.woff') format('woff');
}

.is h1, .is h2,.is h3,.is table,.is p,.is button,.is textarea,.is  input,.is .jq-toast-heading,.is input[type=submit],.is .form-label ,.is .form-check-label ,.rs_help  {
    font-family: "IRANSansWeb" !important;
}

.list_sentence .fas {
    cursor: pointer;
    transition: .1s;
}

.list_sentence .fas:hover {
    color: #0d6efd;
    transition: .1s;
}

table .icon i {
    margin: 5px;
}
p{
    margin: 0;
    padding: 0;
}
.rs_help p{
    font-size: 18px;
}
.jscolor{
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: left;   cursor: pointer;
}
.rs_help{
  font-size: 12px;
    color: #828282;
}
